<h1><%= @song.name %></h1>
<p>Artist No.<%= @song.artist_id %>: <%= @song.artist.name %></p>
<p>Genre No.<%= @song.genre_id %>: <%= @song.genre.name %></p>

<%= link_to @song.genre.name, genre_path %>
<%= link_to @song.artist.name, artist_path %>
